<h2 class="m-3">Отдел кадров</h2>
<h5>Справочники</h5>
<p><a asp-controller="employee">Cотрудники</a> - предоставляет возможность вносить и редактировать информацию о сотрудниках.</p>
<p><a asp-controller="division">Подразделения</a> - позволяет создавать новые и редактировать существующие подразделения.</p>
<p><small class="text-secondary">Все поля справочников обязательны к заполнению</small></p>
<h5>Регистры</h5>
<p><a asp-controller="employeemovement">Движения сотрудников</a> - содержит записи о найме, увольнении и перемещении сотрудников.</p>
<p><a asp-controller="divisionmovement">Движения подразделений</a> - содержит записи о включении и исключении подразделений из состава предприятия. А так же об их перемещении в иерархии отделов.</p>
<p><small class="text-secondary">Регистр "Движения подразделений" содержит поле "Отдел", это поле используется для указания родительского подразделения. Если подразделение является корневым, то в этом случае в этом поле необходимо выбрать пункт "Организация"</small></p>
<p><small class="text-secondary">Все поля регистров обязательны к заполнению. Функционал проверки данных на корректоность ожидается в следующей версии программы.</small></p>
<h5>Отчеты</h5>
<p><a asp-controller="employeereport">Отчет по сотрудникам</a> - отображает сотрудников указанного подразделения или всего предприятия, работавших хотя бы один день в указанный период времени.</p>
<p><a asp-controller="divisionreport">Отчет по подразделениям</a> - формирует иерархическую структуру предприятия на указанную дату.</p>
<p><small class="text-secondary">"Отчет по подразделениям" требует наличия в структуре Организации "корневых подразделений"</small></p>
<p><small class="text-secondary">Отчеты не расчитаны на некорректный ввод данных.</small></p>
