@model Division

<h3>Подразделение</h3>
<form method="post" asp-action="Update">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label class="form-label" asp-for="Code">Код</label>
        <input type="text" class="form-control" asp-for="Code" />
        <span asp-validation-for="Code"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Наименование</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <button class="btn btn-primary" asp-action="Update">
        @(Model.Id == 0 ? "Создать" : "Обновить")
    </button>
    <a class="btn btn-secondary" asp-action="Index">Отмена</a>
</form>